nav {
  height: 50px;
  background-color: lightgrey;
  position: fixed;
 width: 100;
 text-align: center;
}

.inline-block{
  display: inline-block;
  padding: 15px;
}

.left{
  background-color: rgb(221, 194, 242);
  height: 5000px;
  float: left;
  width: 30%;
}

.right{
  background-color: rgb(95, 61, 116);
  height: 5000px;
  float: left;
  width: 70%;
}

/* target the class of inline-block below */

/* target the class of .left below */

/* target the class of .right below */
